{% extends "layout.njk" %}

{% block content %}
<div class="container">
<div class="row">
<div class="card main-panel">
		<ul id="chat">
			<li>APP> Loading...</li>
		</ul>
	</div>
</div>
</div>	
<div id="input_wrapper" class="loading">
	<div id="loader"><span>|</span></div>
	<input type="text" id="input" />
</div>
{% endblock %}