<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
			<div class="container">
			  <a href="#!" class="brand-logo center">Encrypted Chat App</a>
			</div>
			<a href="#modal1" class="right info-icn"><i class="fa fa-2x fa-cogs"></i></a>
		</div>
	</nav>
</div>